* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-clr: #e6d6ca;
  --text-main-clr: black;
  --text-header-clr: white;
  --text-secondary-clr: #808080;
  --purple: #cc00ff;
  --blue: #00c3ff;
  --teal: #00ffc8;
  --light-purple: #f9e3ff;
  --light-blue: #c3f1ff;
  --light-teal: #cdfff4;
  --light-green: #cdffe2;
  --new-task-bg: #584a85;
  --dark-bg: #27203f;
  --dark-teal: #47b69a;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 250px 500px 50px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

/* HEADER STYLE ------------------------------------------------ */

.header-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--text-header-clr);
  background-image: url(./img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 20px;
}

.header-left::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 400px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--blue),
    var(--teal)
  );
}

.logo {
  background-image: url(./img/lux-circle-dragon-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.welcome-greeting {
  font-size: 1.2rem;
  line-height: 0.6rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.welcome-name {
  font-size: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.header-date {
  padding: 4px;
  color: var(--text-header-clr);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 10px;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.task-amount {
  font-size: 2rem;
  font-weight: bolder;
}

/* MAIN STYLE ------------------------------------------------ */

.main-wrapper {
  background-color: white;
  padding: 20px;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: linear-gradient(
    to bottom,
    var(--dark-bg),
    var(--new-task-bg)
  );
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-bg);
}

/* TASKS PAGE STYLE ------------------------------------------------ */

.tasks-title {
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  margin-bottom: 20px;
  color: var(--text-main-clr);
}

/* CREATE NEW FOLDER STYLE ------------------------------------------------ */

.new-folder-div {
  margin-bottom: 20px;
}

.new-folder-div > form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

.new-folder-input {
  outline: none;
  border: 1px solid var(--dark-bg);
  padding-left: 10px;
}

.new-folder-input:focus {
  background-color: var(--light-purple);
  border: 1px solid var(--dark-bg);
}

.new-folder-submit {
  grid-column: 2;
  background-color: var(--dark-bg);
  color: var(--text-header-clr);
  border: none;
  height: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.new-folder-submit:hover {
  color: var(--teal);
  box-shadow: 0px 0px 5px var(--teal);
}

/* FOLDER STYLE ------------------------------------------------ */

.folder-list-title {
  font-size: 1rem;
  margin-bottom: 20px;
}

.folder-title {
  font-size: 1rem;
  margin-left: 50px;
}

.edit-folder {
  background-image: url(./img/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.delete-folder {
  background-image: url(./img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.edit-folder:hover,
.delete-folder:hover {
  transform: scale(1.2);
}

/* COLLAPSIBLE STYLE ------------------------------------------------ */

.collapsible {
  display: grid;
  grid-template-columns: 1fr 50px 50px;
  align-items: center;
  position: relative;
  width: 100%;
  border: none;
  height: 50px;
  margin-top: 10px;
  font-weight: bolder;
  color: white;
  background-color: var(--new-task-bg);
  transition: 0.4s;
}

.collapsible::before {
  position: absolute;
  content: "";
  background-image: url(./img/folder-open-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.collapsible:hover {
  color: var(--teal);
  box-shadow: 0px 0px 5px var(--teal);
}

.active {
  background-color: var(--dark-teal);
  color: black;
}

.active::before {
  position: absolute;
  content: "";
  background-image: url(./img/folder.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.active:hover {
  color: var(--new-task-bg);
  box-shadow: 0px 0px 5px var(--new-task-bg);
}

.grow {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}

.content {
  padding: 20px;
  background-color: #eeeeee;
}

/* FOOTER STYLE ------------------------------------------------ */

.footer-wrapper {
  background-color: white;
  padding: 10px;
}

.footer-text {
  font-size: 0.8rem;
  color: var(--text-secondary-clr);
  text-align: center;
}
