* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-clr: #ffffff;
  --secondary-bg-clr: #eeeeee;
  --text-header-clr: #ffffff;
  --text-main-clr: #000000;
  --text-secondary-clr: #808080;
  --text-task-clr: #000000;

  --text-l2d-clr: #ffffff;
  --text-folder-light-clr: #ffffff;
  --text-folder-dark-clr: #000000;

  --rainbow-clr-1: #cc00ff;
  --rainbow-clr-2: #00c3ff;
  --rainbow-clr-3: #00ffc8;

  --folder-bg: #584a85;
  --folder-bg-hover: #877ca8;
  --folder-active-bg: #47b69a;
  --folder-active-bg-hover: #84c5b5;

  --accent-clr: #47b69a;
  --task-bg-clr: #ffffff;
  --task-hover: #d4ebe6;

  --dark-accent-bg: #27203f;
  --header-img: url(./img/header-bg.jpg);
}

html[data-theme="light"] {
  --main-bg-clr: #ffffff;
  --secondary-bg-clr: #eeeeee;
  --text-header-clr: #ffffff;
  --text-main-clr: #000000;
  --text-secondary-clr: #808080;
  --text-task-clr: #000000;

  --text-l2d-clr: #ffffff;
  --text-folder-light-clr: #ffffff;
  --text-folder-dark-clr: #000000;

  --rainbow-clr-1: #cc00ff;
  --rainbow-clr-2: #00c3ff;
  --rainbow-clr-3: #00ffc8;

  --folder-bg: #584a85;
  --folder-bg-hover: #877ca8;
  --folder-active-bg: #47b69a;
  --folder-active-bg-hover: #84c5b5;

  --accent-clr: #47b69a;
  --task-bg-clr: #ffffff;
  --task-hover: #d4ebe6;

  --dark-accent-bg: #27203f;
  --header-img: url(./img/header-bg.jpg);
}

html[data-theme="dark"] {
  --main-bg-clr: #202020;
  --secondary-bg-clr: #151515;
  --text-header-clr: #ffffff;
  --text-main-clr: #000000;
  --text-secondary-clr: #808080;
  --text-task-clr: #ffffff;

  --text-l2d-clr: #ffffff;
  --text-folder-light-clr: #ffffff;
  --text-folder-dark-clr: #000000;

  --rainbow-clr-1: #cc00ff;
  --rainbow-clr-2: #00c3ff;
  --rainbow-clr-3: #00ffc8;

  --folder-bg: #1f5f7b;
  --folder-bg-hover: #537c8d;
  --folder-active-bg: #8981bc;
  --folder-active-bg-hover: #b1a8e4;

  --accent-clr: #8981bc;
  --task-bg-clr: #202020;
  --task-hover: #303030;

  --dark-accent-bg: #083649;
  --header-img: url(./img/starry-anime-bg.jpg);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--main-bg-clr);
  transition: 0.3s;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 250px 500px 50px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

/* HEADER STYLE ------------------------------------------------ */

.header-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--text-header-clr);
  background-image: var(--header-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.3s;
}

.header-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 20px;
}

.header-left::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 400px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to right,
    var(--rainbow-clr-1),
    var(--rainbow-clr-2),
    var(--rainbow-clr-3)
  );
}

.logo {
  background-image: url(./img/lux-circle-dragon-white.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50px;
  width: 50px;
}

.welcome-greeting {
  font-size: 1.2rem;
  line-height: 0.6rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.welcome-name {
  font-size: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.header-date {
  padding: 4px;
  color: var(--text-header-clr);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 10px;
}

.header-right {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 65px 1fr 1fr;
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-toggle {
  justify-self: center;
  background-color: transparent;
  border: none;
  background: url(./img/dark-toggle.png);
  background-position: center;
  background-repeat: none;
  background-size: contain;
  width: 50px;
  height: 25px;
  margin-top: 20px;
  transition: 0.3s;
}

.theme-toggle-active {
  justify-self: center;
  background-color: transparent;
  border: none;
  background: url(./img/light-toggle.png);
  background-position: center;
  background-repeat: none;
  background-size: contain;
  width: 50px;
  height: 25px;
  margin-top: 20px;
  transition: 0.3s;
}

.task-amount {
  font-size: 2rem;
  font-weight: bolder;
  align-self: flex-end;
  justify-self: center;
}

.task-text {
  align-self: flex-start;
  justify-self: center;
}

/* MAIN STYLE ------------------------------------------------ */

.main-wrapper {
  background-color: var(--main-bg-clr);
  padding: 20px;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
  transition: 0.3s;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: linear-gradient(
    to bottom,
    var(--dark-accent-bg),
    var(--folder-bg)
  );
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-accent-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-accent-bg);
}

/* CREATE NEW FOLDER STYLE ------------------------------------------------ */

.new-folder-div {
  margin-bottom: 20px;
}

.new-folder-div > form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 10px;
}

.new-folder-input {
  outline: none;
  border: 1px solid var(--dark-accent-bg);
  padding-left: 10px;
}

.new-folder-input:focus {
  border: 1px solid var(--dark-accent-bg);
}

.new-folder-submit {
  grid-column: 2;
  background-color: var(--dark-accent-bg);
  color: var(--text-l2d-clr);
  border: none;
  height: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.new-folder-submit:hover {
  background-color: var(--accent-clr);
}

/* FOLDER STYLE ------------------------------------------------ */

.folder-list-title {
  font-size: 1rem;
  color: var(--text-folder-dark-clr);
  margin-bottom: 20px;
}

.folder-title {
  font-size: 1rem;
  margin-left: 50px;
}

.add-task {
  background-image: url(./img/circle-plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.edit-folder {
  background-image: url(./img/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.delete-folder {
  background-image: url(./img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  width: 20px;
  height: 20px;
  transition: 0.2s;
}

.add-task:hover,
.edit-folder:hover,
.delete-folder:hover {
  transform: scale(1.2);
}

/* COLLAPSIBLE STYLE ------------------------------------------------ */

.collapsible {
  display: grid;
  grid-template-columns: 1fr repeat(3, 50px);
  align-items: center;
  position: relative;
  width: 100%;
  border: none;
  height: 50px;
  margin-top: 10px;
  font-weight: bolder;
  color: var(--text-folder-light-clr);
  background-color: var(--folder-bg);
  transition: 0.4s;
}

.collapsible::before {
  position: absolute;
  content: "";
  background-image: url(./img/folder-open-white.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.collapsible::after {
  position: absolute;
  content: "";
  border-right: 2px solid var(--main-bg-clr);
  height: 50px;
  top: 0px;
  left: 390px;
  z-index: 1;
}

.collapsible:hover {
  background-color: var(--folder-bg-hover);
}

.active {
  background-color: var(--folder-active-bg);
  color: var(--text-folder-dark-clr);
}

.active::before {
  position: absolute;
  content: "";
  background-image: url(./img/folder.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 30px;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.active:hover {
  background-color: var(--folder-active-bg-hover);
}

.grow {
  -moz-transition: height 0.5s;
  -ms-transition: height 0.5s;
  -o-transition: height 0.5s;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  overflow: hidden;
}

.content {
  padding: 20px;
  background-color: var(--secondary-bg-clr);
}

/* EDIT MODAL STYLE ------------------------------------------------ */

.modal {
  background-color: var(--main-bg-clr);
  border-top: 4px solid var(--accent-clr);
  border-bottom: 4px solid var(--accent-clr);
  border-left: 0;
  border-right: 0;
  padding: 20px;
  margin: 300px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.modal::backdrop {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.modal-title {
  color: var(--text-task-clr);
  text-align: center;
}

.modal-input {
  height: 2rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--dark-accent-bg);
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.button-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

.modal-submit,
.modal-cancel {
  background-color: var(--dark-accent-bg);
  color: var(--text-header-clr);
  border: none;
  height: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.modal-submit:hover,
.modal-cancel:hover {
  background-color: var(--accent-clr);
}

/* TASK MODAL STYLE ------------------------------------------------ */

.task-modal {
  background-color: var(--main-bg-clr);
  border-top: 4px solid var(--accent-clr);
  border-bottom: 4px solid var(--accent-clr);
  border-left: 0;
  border-right: 0;
  padding: 20px;
  margin: 200px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.task-modal::backdrop {
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.task-modal-title {
  color: var(--text-task-clr);
  margin-bottom: 20px;
  text-align: center;
}

.task-modal-form {
  display: flex;
  flex-direction: column;
}

.task-label {
  color: var(--text-task-clr);
}

.task-input {
  height: 2rem;
  width: 100%;
  outline: none;
  border: 1px solid var(--dark-accent-bg);
  padding-left: 10px;
  margin-bottom: 20px;
}

.task-textarea {
  height: 4rem;
  outline: none;
  border: 1px solid var(--dark-accent-bg);
  padding-left: 10px;
  margin-bottom: 20px;
}

.task-submit,
.task-cancel {
  background-color: var(--dark-accent-bg);
  color: var(--text-header-clr);
  border: none;
  height: 2rem;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
}

.task-submit:hover,
.task-cancel:hover {
  background-color: var(--accent-clr);
}

/* TASK STYLE ------------------------------------------------ */

.task-wrap {
  display: grid;
  grid-template-columns: 1fr 100px 50px 50px;
  background-color: var(--task-bg-clr);
  color: var(--text-task-clr);
  padding: 10px 0px 10px 10px;
  margin-bottom: 10px;
  transition: 0.3s;
}

.task-wrap:hover {
  background-color: var(--task-hover);
}

.empty-notice {
  color: var(--text-task-clr);
}

.task-edit {
  background-image: url(./img/edit.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  width: 16px;
  height: 16px;
  transition: 0.2s;
}

.task-delete {
  background-image: url(./img/trash.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  justify-self: center;
  width: 16px;
  height: 16px;
  transition: 0.2s;
}

.task-edit:hover,
.task-delete:hover {
  transform: scale(1.2);
}

/* FOOTER STYLE ------------------------------------------------ */

.footer-wrapper {
  background-color: var(--main-bg-clr);
  padding: 10px;
}

.footer-text {
  font-size: 0.8rem;
  color: var(--text-secondary-clr);
  text-align: center;
}
