* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --main-bg-clr: #e6d6ca;
  --text-main-clr: black;
  --text-header-clr: white;
  --text-secondary-clr: #808080;
  --purple: #cc00ff;
  --blue: #00c3ff;
  --teal: #00ffc8;
  --light-purple: #f6d3ff;
  --light-blue: #c3f1ff;
  --light-teal: #cdfff4;
  --light-green: #cdffe2;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 500px;
  grid-template-rows: 250px 50px 500px 50px;
  box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.2);
}

/* HEADER STYLE ------------------------------------------------ */

.header-wrapper {
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: var(--text-header-clr);
  background-image: url(./img/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  padding: 20px;
}

.header-left::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 333.33px;
  bottom: 0px;
  left: 0px;
  background: linear-gradient(
    to right,
    var(--purple),
    var(--blue),
    var(--teal)
  );
}

.logo {
  height: 50px;
  width: 50px;
}

.welcome-greeting {
  font-size: 1.2rem;
  line-height: 0.6rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.welcome-name {
  font-size: 2rem;
  text-shadow: 1px 1px rgba(0, 0, 0, 1);
}

.header-date {
  opacity: 50%;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.task-amount {
  font-size: 2rem;
  font-weight: bolder;
}

/* NAV STYLE ------------------------------------------------ */

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  color: var(--text-main-clr);
}

.nav-wrapper > ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style-type: none;
}

.nav-wrapper > ul > li {
  width: 100%;
}

.nav-button {
  display: block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: var(--text-main-clr);
  font-weight: bolder;
  transition: 0.3s;
}

.tasks-button:hover {
  background-color: var(--light-purple);
}

.today-button:hover {
  background-color: var(--light-blue);
}

.completed-button:hover {
  background-color: var(--light-teal);
}

.new-button:hover {
  background-color: var(--light-green);
}

/* MAIN STYLE ------------------------------------------------ */

.main-wrapper {
  background-color: white;
  padding: 20px;
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.1);
}

/* FOLDER STYLE ------------------------------------------------ */

.folder-wrapper {
  display: grid;
  grid-template-columns: 30px 2fr 1fr;
  align-items: center;
  gap: 20px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 4px solid var(--purple);
  margin-bottom: 10px;
  transition: 0.3s;
}

.folder-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.folder-img {
  height: 30px;
  width: 30px;
}

.folder-title {
  font-size: 1rem;
  font-weight: bolder;
}

.folder-info {
  text-align: end;
  color: var(--text-secondary-clr);
}

.info-amount {
  font-weight: bolder;
  color: var(--purple);
}

/* TASK STYLE ------------------------------------------------ */

.task-item {
  display: grid;
  grid-template-columns: 30px 2fr 1fr 1fr 30px;
  gap: 10px;
  color: var(--text-secondary-clr);
  align-items: center;
  border-left: 4px solid var(--blue);
  margin-bottom: 10px;
  margin-left: 25px;
  transition: 0.3s;
}

.task-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.task-img {
  height: 30px;
  width: 30px;
  opacity: 0.5;
}

.task-title {
  font-size: 0.8rem;
}

.task-time {
  font-size: 0.8rem;
}

.task-date {
  font-size: 0.8rem;
}

.task-menu-img {
  height: 15px;
  width: 15px;
  opacity: 0.5;
}

/* FOOTER STYLE ------------------------------------------------ */

.footer-wrapper {
  background-color: white;
  padding: 10px;
}

.footer-text {
  font-size: 0.8rem;
  color: var(--text-secondary-clr);
  text-align: center;
}
